# Environment
.env

# Database
db.sqlite3

# Credentials
credentials.json
credential_oauth2

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Static build files
staticfiles/

# Django media (optional)
media/

credentials.json
.env

